In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
pd.DataFrame(np.random.randn(10,4))

          0         1         2         3
0 -0.260296 -0.414045  1.071037 -0.346989
1  0.730998  1.821270 -0.102970  0.611574
2  1.373492  0.880000 -2.032678  1.170608
3  1.869581  1.962302  0.366777  0.388227
4 -1.230374 -1.044066  0.166022 -1.824789
5 -0.486508 -0.208989  0.897218  0.691998
6  0.236780 -0.044411  0.685666 -0.219437
7 -0.937365  0.492948  1.464270 -0.259823
8 -0.289739 -0.350324  0.915520 -0.375553
9 -0.403247 -2.699277 -0.094179 -0.557780

In [6]:
np.random.seed(20)
df=pd.DataFrame(np.random.randn(10,4),index=pd.date_range('2021-07-18',periods=10),columns=["a","b","c","d"])

In [7]:
df

                   a         b         c         d
2021-07-18  0.883893  0.195865  0.357537 -2.343262
2021-07-19 -1.084833  0.559696  0.939469 -0.978481
2021-07-20  0.503097  0.406414  0.323461 -0.493411
2021-07-21 -0.792017 -0.842368 -1.279503  0.245715
2021-07-22 -0.044195  1.567633  1.051109  0.406368
2021-07-23 -0.168646 -3.189703  1.120132  1.332778
2021-07-24 -0.243339 -0.130031 -0.109017  1.556186
2021-07-25  0.128778 -2.066949 -0.885493 -1.104579
2021-07-26  0.932866  2.059838 -0.934938 -1.612990
2021-07-27  0.527070 -1.551101  0.329613 -1.136527

In [10]:
df['new']=df['c']+df['d']

In [11]:
df

                   a         b         c         d       new
2021-07-18  0.883893  0.195865  0.357537 -2.343262 -1.985725
2021-07-19 -1.084833  0.559696  0.939469 -0.978481 -0.039012
2021-07-20  0.503097  0.406414  0.323461 -0.493411 -0.169950
2021-07-21 -0.792017 -0.842368 -1.279503  0.245715 -1.033787
2021-07-22 -0.044195  1.567633  1.051109  0.406368  1.457477
2021-07-23 -0.168646 -3.189703  1.120132  1.332778  2.452910
2021-07-24 -0.243339 -0.130031 -0.109017  1.556186  1.447169
2021-07-25  0.128778 -2.066949 -0.885493 -1.104579 -1.990073
2021-07-26  0.932866  2.059838 -0.934938 -1.612990 -2.547928
2021-07-27  0.527070 -1.551101  0.329613 -1.136527 -0.806913

In [12]:
df['new_col_square_d']  = df['d'].apply(lambda x:x**2)

In [13]:
df

                   a         b         c         d       new  new_col_square_d
2021-07-18  0.883893  0.195865  0.357537 -2.343262 -1.985725          5.490876
2021-07-19 -1.084833  0.559696  0.939469 -0.978481 -0.039012          0.957425
2021-07-20  0.503097  0.406414  0.323461 -0.493411 -0.169950          0.243454
2021-07-21 -0.792017 -0.842368 -1.279503  0.245715 -1.033787          0.060376
2021-07-22 -0.044195  1.567633  1.051109  0.406368  1.457477          0.165135
2021-07-23 -0.168646 -3.189703  1.120132  1.332778  2.452910          1.776298
2021-07-24 -0.243339 -0.130031 -0.109017  1.556186  1.447169          2.421716
2021-07-25  0.128778 -2.066949 -0.885493 -1.104579 -1.990073          1.220096
2021-07-26  0.932866  2.059838 -0.934938 -1.612990 -2.547928          2.601737
2021-07-27  0.527070 -1.551101  0.329613 -1.136527 -0.806913          1.291693

In [14]:
df['new_col_log_d']  = df['d'].apply(lambda x:np.log(x))

In [15]:
df

,a,b,c,d,new,new_col_square_d,new_col_log_d
2021-07-18,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,NaN
2021-07-19,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,NaN
2021-07-20,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,NaN
2021-07-21,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582
2021-07-22,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495
2021-07-23,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266
2021-07-24,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238
2021-07-25,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,NaN
2021-07-26,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,NaN
2021-07-27,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,NaN

In [16]:
def test(x):
    if(x<0):
        return x
    else:
        return np.log(x)

In [17]:
df['new_col_log_d_1']  = df['d'].apply(test)

In [21]:
def test(x):
    if(x<0):
        return "You"
    else:
        return "No"

In [22]:
print(test(5))

No

In [23]:
def test(x):
    if(x<0):
        print("You")
    else:
        print("No")

In [24]:
print(test(5))

No
None

In [26]:
df.sort_values(by='b')

,a,b,c,d,new,new_col_square_d,new_col_log_d,new_col_log_d_1
2021-07-23,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0.287266
2021-07-25,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,NaN,-1.104579
2021-07-27,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,NaN,-1.136527
2021-07-21,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,-1.403582
2021-07-24,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0.442238
2021-07-18,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,NaN,-2.343262
2021-07-20,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,NaN,-0.493411
2021-07-19,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,NaN,-0.978481
2021-07-22,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,-0.900495
2021-07-26,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,NaN,-1.612990

In [29]:
df.index

DatetimeIndex(['2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21',
               '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25',
               '2021-07-26', '2021-07-27'],
              dtype='datetime64[ns]', freq='D')

In [30]:
df

,a,b,c,d,new,new_col_square_d,new_col_log_d,new_col_log_d_1
2021-07-18,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,NaN,-2.343262
2021-07-19,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,NaN,-0.978481
2021-07-20,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,NaN,-0.493411
2021-07-21,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,-1.403582
2021-07-22,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,-0.900495
2021-07-23,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0.287266
2021-07-24,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0.442238
2021-07-25,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,NaN,-1.104579
2021-07-26,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,NaN,-1.612990
2021-07-27,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,NaN,-1.136527

In [31]:
df['new_date']=df.index

In [32]:
df

,a,b,c,d,new,new_col_square_d,new_col_log_d,new_col_log_d_1,new_date
2021-07-18,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,NaN,-2.343262,2021-07-18
2021-07-19,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,NaN,-0.978481,2021-07-19
2021-07-20,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,NaN,-0.493411,2021-07-20
2021-07-21,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,-1.403582,2021-07-21
2021-07-22,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,-0.900495,2021-07-22
2021-07-23,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0.287266,2021-07-23
2021-07-24,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0.442238,2021-07-24
2021-07-25,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,NaN,-1.104579,2021-07-25
2021-07-26,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,NaN,-1.612990,2021-07-26
2021-07-27,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,NaN,-1.136527,2021-07-27

In [33]:
df.dtypes

a                          float64
b                          float64
c                          float64
d                          float64
new                        float64
new_col_square_d           float64
new_col_log_d              float64
new_col_log_d_1            float64
new_date            datetime64[ns]
dtype: object

In [35]:
df['day']= df.index.day
df['month']= df.index.month
df['year'] =  df.index.year

In [36]:
df

,a,b,c,d,new,new_col_square_d,new_col_log_d,new_col_log_d_1,new_date,day,month,year
2021-07-18,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,NaN,-2.343262,2021-07-18,18,7,2021
2021-07-19,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,NaN,-0.978481,2021-07-19,19,7,2021
2021-07-20,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,NaN,-0.493411,2021-07-20,20,7,2021
2021-07-21,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,-1.403582,2021-07-21,21,7,2021
2021-07-22,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,-0.900495,2021-07-22,22,7,2021
2021-07-23,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0.287266,2021-07-23,23,7,2021
2021-07-24,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0.442238,2021-07-24,24,7,2021
2021-07-25,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,NaN,-1.104579,2021-07-25,25,7,2021
2021-07-26,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,NaN,-1.612990,2021-07-26,26,7,2021
2021-07-27,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,NaN,-1.136527,2021-07-27,27,7,2021

In [39]:
df["day_name"] = df.index.day_name()

In [40]:
df

,a,b,c,d,new,new_col_square_d,new_col_log_d,new_col_log_d_1,new_date,day,month,year,day_name
2021-07-18,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,NaN,-2.343262,2021-07-18,18,7,2021,Sunday
2021-07-19,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,NaN,-0.978481,2021-07-19,19,7,2021,Monday
2021-07-20,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,NaN,-0.493411,2021-07-20,20,7,2021,Tuesday
2021-07-21,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,-1.403582,2021-07-21,21,7,2021,Wednesday
2021-07-22,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,-0.900495,2021-07-22,22,7,2021,Thursday
2021-07-23,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0.287266,2021-07-23,23,7,2021,Friday
2021-07-24,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0.442238,2021-07-24,24,7,2021,Saturday
2021-07-25,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,NaN,-1.104579,2021-07-25,25,7,2021,Sunday
2021-07-26,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,NaN,-1.612990,2021-07-26,26,7,2021,Monday
2021-07-27,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,NaN,-1.136527,2021-07-27,27,7,2021,Tuesday

In [41]:
df.groupby(by = 'day_name').count()

,a,b,c,d,new,new_col_square_d,new_col_log_d,new_col_log_d_1,new_date,day,month,year
day_name,,,,,,,,,,,,
Friday,1,1,1,1,1,1,1,1,1,1,1,1
Monday,2,2,2,2,2,2,0,2,2,2,2,2
Saturday,1,1,1,1,1,1,1,1,1,1,1,1
Sunday,2,2,2,2,2,2,0,2,2,2,2,2
Thursday,1,1,1,1,1,1,1,1,1,1,1,1
Tuesday,2,2,2,2,2,2,0,2,2,2,2,2
Wednesday,1,1,1,1,1,1,1,1,1,1,1,1

In [42]:
df.groupby(by = 'day_name').sum()

,a,b,c,d,new,new_col_square_d,new_col_log_d,new_col_log_d_1,day,month,year
day_name,,,,,,,,,,,
Friday,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0.287266,23,7,2021
Monday,-0.151966,2.619534,0.004531,-2.591471,-2.586940,3.559163,0.000000,-2.591471,45,14,4042
Saturday,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0.442238,24,7,2021
Sunday,1.012671,-1.871084,-0.527957,-3.447841,-3.975798,6.710972,0.000000,-3.447841,43,14,4042
Thursday,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,-0.900495,22,7,2021
Tuesday,1.030167,-1.144686,0.653074,-1.629937,-0.976863,1.535147,0.000000,-1.629937,47,14,4042
Wednesday,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,-1.403582,21,7,2021