In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('titanic_train.csv')

In [ ]:
df

In [ ]:
df.head()

In [ ]:
type(df)

In [ ]:
df.columns

In [ ]:
dy =  df.dtypes

In [ ]:
dy['Pclass']

In [ ]:
l=[0,1,2,3,4,5,'swe','pan','Ineron']

In [ ]:
l[6]

In [ ]:
dy[4:6]

In [ ]:
dy

In [ ]:
dy[:]

In [ ]:
df['Age']

In [ ]:
type(df['Age'])

In [ ]:
df['Age'][10:101]

In [ ]:
df['Age'][::2]

In [ ]:
list(df['Age'][::2])

In [ ]:
df.describe()

In [ ]:
dy

In [ ]:
l = [0,1,2,3,4,5,'swe','pan','iNeuron']

In [ ]:
l[4]

In [ ]:
l[7]

In [ ]:
dy[0:4]

In [ ]:
dy['Pclass']

In [ ]:
dy[0:10:2]

In [ ]:
df.head()

In [ ]:
df.Age

In [ ]:
df['Age']

In [ ]:
type(df['Age'])

In [ ]:
df['Age'][10:100]

In [ ]:
df['Age'][::-1]

In [ ]:
df['Age'][::2]

In [ ]:
list(df['Age'][::2])

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.dtypes[df.dtypes=='object']

In [ ]:
df_c = df[df.dtypes[df.dtypes=='object'].index]

In [ ]:
type(df.dtypes[df.dtypes=='object'])

In [ ]:
df.dtypes[df.dtypes=='object']

In [ ]:
df_c.describe()

In [ ]:
df.columns

In [ ]:
df[['Name','Fare']]

In [ ]:
df[['Name']]

In [ ]:
df['Age'].isnull()

In [2]:
import numpy as np

In [ ]:
df_null = np.where(df['Age'].isnull() ==True)

In [ ]:
df[df['Age'].isnull() ==True]

In [ ]:
df_null

In [ ]:
df.iloc[df_null]

In [ ]:
df.iloc[5]

In [ ]:
type(df.iloc[5])

In [ ]:
df.iloc[[1]]

In [ ]:
df.iloc[[1,2,3,4,5,6,7,8]]

In [ ]:
np.where(df['Fare'] == max(df['Fare']))

In [ ]:
df.iloc[np.where(df['Fare'] == max(df['Fare']))]['Name']

In [ ]:
df[df['Age'] ==24.0]["Name"]

In [ ]:
df[['Age']][df.Cabin.isnull() == True]

In [ ]:
df.head()

In [ ]:
x = (df['Sex'][df['Survived']==1]=='male').index

In [ ]:
df.iloc[x][['Survived']]

In [ ]:
df.iloc[(df['Sex'][df['Survived']==1]=='male').index][['Name']]

In [ ]:
df.iloc[(df['Sex'][df['Survived']==1]=='male').index][['Survived']]

In [ ]:
df.Name[(df.Survived ==1) & (df.Sex == 'male')]

In [ ]:
df['new_col']  = 'Swetanshu'

In [ ]:
df.head()

In [ ]:
l = [1,2,3,4,5]

In [ ]:
pd.Series(l)

In [ ]:
d = {'key':'swe','title':'pan','mail_id':'swe1722@gmail.com'}

In [ ]:
pd.DataFrame(d,index = ['key','title','mail_id'])

In [ ]:
pd.Series(d)

In [ ]:
arr = np.random.randn(3,4)

In [ ]:
arr

In [ ]:
pd.DataFrame(arr)

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(np.array([4,5,6,7,8]))

In [ ]:
pd.Series(np.array([4,5,6,7,8]),index = ['a','b','swe','pan','c'])

In [ ]:
ser = pd.Series(np.array([4,5,6,7,8]),index = ['a','b','swe','pan','c'])

In [ ]:
ser

In [ ]:
ser['swe']

In [ ]:
ser.iloc[2]

In [ ]:
ser.iloc['swe']

In [ ]:
ser.loc['swe']

In [ ]:
ser1 = pd.Series(np.array([4,5,6,7,8]),index = [12,32,45,56,34])

In [ ]:
ser1

In [ ]:
ser1.iloc[32]

In [ ]:
ser1.loc[32]

In [ ]:
df.head()

In [ ]:
df1 = pd.DataFrame(np.random.randint(3,6,(4,5)),index = ['a','b','c','d'],columns=['x','y','z','u','v'])

In [ ]:
df1

In [ ]:
df1.loc['c':'d','z':'u']

In [ ]:
df.iloc[2:,2:4]

In [ ]:
df1['na']="Swe"

In [ ]:
df1

In [ ]:
df1['new']=df1['u']+df1['z']

In [ ]:
df1

In [ ]:
df.drop('x')              ### since axis=0  that means row so giving error

In [ ]:
df1.drop('x',axis = 1)

In [ ]:
df1.drop('x',axis =1,inplace = True)

In [ ]:
df1

In [ ]:
np.random.seed(34)

df2 = pd.DataFrame(np.random.rand(4,5),index = ['a','b','c','d'],columns=['x','y','z','u','v'])

In [ ]:
df2

In [ ]:
df2.values[df2.values<0]

In [ ]:
df2.values[df2.iloc[0:5]<0]

In [ ]:
pd.DataFrame(df2.values[df.iloc[0:5]<0])

In [ ]:
c = df2.values[df.values<0]
for i in df2.columns:
    for j in df2.index:
        if df2.loc[j,i] in c:
            print(i,j)

In [ ]:
for i in df2.columns:
    for j in df2.index:
        if df2.loc[j,i]>0.2345667:
            print(i,j,df2.loc[j,i])

In [ ]:
d = {'key1':[1,2,3,4,np.nan],'key2':['sudh','pan',np.nan,5,6],'key3':[np.nan,np.nan,np.nan,3,8]}
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df

In [ ]:
df.dropna(thresh= 0)

In [ ]:
df.dropna(thresh= 1)

In [ ]:
df.dropna(thresh= 2)

In [ ]:
df.dropna(thresh = 4)

In [ ]:
df.dropna(axis = 1,thresh = 3)

In [ ]:
df.fillna('sudh')

In [ ]:
df.fillna('Raj')

In [ ]:
df.fillna(value = df['key1'].mean())

In [ ]:
d1 = {'name':['swe','visal','umang','vishal','umang'],'mail_id':['swe@gmail.com','vishal@gmail.com','umang@gmail.com','vishal@gmail.com','umang@gmail.com'],
     'salary':[100,200,500,200,500]}

In [ ]:
df = pd.DataFrame(d1)

In [ ]:
df.groupby('name')

In [ ]:
df.groupby('name').mean()

In [ ]:
df.groupby('mail_id').mean()

In [ ]:
df.groupby('mail_id').sum()

In [ ]:
x = df.groupby('mail_id').describe()

In [ ]:
type(df.groupby('mail_id').describe())

In [ ]:
x.loc['umang@gmail.com']

In [ ]:
x.loc['umang@gmail.com'][1]

In [ ]:
x.loc['umang@gmail.com']['salary']['mean']

In [ ]:
df.groupby('mail_id').describe().T

In [ ]:
np.random.randn(3,4)

In [ ]:
arr1 = np.random.randn(3,4)

In [ ]:
arr2 = np.random.randn(3,4)

In [ ]:
arr3 = np.random.randn(3,4)

In [ ]:
df1 = pd.DataFrame(arr1,columns = ['A','B','C','D'],index = [0,1,2])

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame(arr2,columns = ['A','B','C','D'],index = [3,4,5])

In [ ]:
df2

In [ ]:
df3 = pd.DataFrame(arr3,columns = ['A','B','C','D'],index = [6,7,8])

In [ ]:
df3

In [ ]:
### merging  of data sets

In [ ]:
df4 = pd.concat([df1,df2,df3])     ### row wise concatenation

In [ ]:
df5 = pd.concat([df1,df2,df3],axis =  1)                ####  column wise

In [ ]:
df4

In [ ]:
df4

In [ ]:
df4.iloc[0]

In [ ]:
df4.loc[0]

In [ ]:
df5

In [ ]:
df5['A']

In [ ]:
df5

In [ ]:
df5.iloc[3]

In [ ]:
df5.iloc[:,4]

In [ ]:
pd.concat([df1,df2,df3],axis = 1).fillna(0)

In [ ]:
df1

In [ ]:
df2

In [ ]:
np.random.seed(23)
arr1 = np.random.randn(3,4)
np.random.seed(23)
arr2 = np.random.randn(3,4)
df11 = pd.DataFrame(arr1,columns = ['A','B','C','D'],index =[0,1,2])
df22 = pd.DataFrame(arr2,columns = ['A','B','C','D'],index = [3,4,5])

In [ ]:
df11

In [ ]:
df22

In [ ]:
###  MERGE

In [ ]:
pd.merge(df11,df22)

In [ ]:
pd.merge(df11,df22,on ="A")

In [ ]:
left = pd.DataFrame({'key':['K0','K8','K2','K3'],
                    'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3']})

right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right)

In [ ]:
pd.merge(left,right,on = 'key',how = 'left')

In [ ]:
pd.merge(left,right,on = 'key',how = 'right')

In [ ]:
pd.merge(left,right,on = 'key',how = 'outer')

In [3]:
df1 = pd.DataFrame({'key1':['K0','K8','K2','K3'],
                     'key2':['K0','K1','K0','K1'],
                        'A':['A0','A1','A2','A3'],
                         'B':['B0','B1','B2','B3']})

df2 = pd.DataFrame({'key1':['K0','K1','K1','K2'],
                            'key2':['K0','K0','K0','K0'],
                                 'C':['C0','C1','C2','C3'],
                                  'D':['D0','D1','D2','D3']})

In [4]:
df1

  key1 key2   A   B
0   K0   K0  A0  B0
1   K8   K1  A1  B1
2   K2   K0  A2  B2
3   K3   K1  A3  B3

In [5]:
df2

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [16]:
pd.merge(df1,df2,on = ['key1','key2'])         ### join based on coloumns

KeyError: 'key1'

In [11]:
df1  = pd.DataFrame({'A':['A0','A1','A2'],
                    'B':['B0','B1','B2']},
                     index = ['K0','K1','K2'])

df2 = pd.DataFrame({'C':['C0','C2','C3'],
                     'D':['D0','D2','D3']},
                  index = ['K0','K2','K3'])

In [12]:
df1

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [13]:
df2

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [15]:
df1.join(df2)          #### exactly same as merge operation            joining based on indexes

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [17]:
df1.join(df2,how = 'outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [18]:
df1.join(df2,how = 'right')

      A    B   C   D
K0   A0   B0  C0  D0
K2   A2   B2  C2  D2
K3  NaN  NaN  C3  D3