In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index = ['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [ ]:
df

In [ ]:
df.to_csv('Test1.csv')

In [ ]:
### accessing elements 
###   1.     .loc     -----    focuses on row only 
###   2.     .iloc    ------    focuses on row and column both

In [ ]:
df.loc['Row1']

In [ ]:
type(df.loc['Row1'])

In [ ]:
df.iloc[0:3,0:2]

In [ ]:
df.iloc[0:2,0:2]

In [ ]:
type(df.iloc[0:2,0:2])

In [ ]:
type(df.iloc[0:2,0:1])

In [ ]:
df.iloc[0:2,0]

In [ ]:
type(df.iloc[0:2,0])

In [ ]:
df.iloc[:,1:]

In [ ]:
#### convert DataFrame into array
df.iloc[:,:].values

In [ ]:
df.iloc[:,:].values.shape

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df

In [ ]:
df['Column1'].value_counts()

In [ ]:
df["Column1"].unique()

In [ ]:
df[["Column3","Column4"]]

In [ ]:
df = pd.read_csv("mercedesbenz.csv")

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['X0'].value_counts()

In [ ]:
df[df['y']>100]

In [ ]:
df['y']>100

##  CSV

In [ ]:
from io import StringIO,BytesIO

In [ ]:
data  = ('col1,col2,col3\n'
           'x,y,z\n'
            'a,b,1\n'
             'c,d,3')

In [ ]:
type(data)

In [ ]:
StringIO()

In [ ]:
pd.read_csv(StringIO(data))

In [ ]:
df = pd.read_csv(StringIO(data),usecols = ['col1','col3'])

In [ ]:
df

In [ ]:
df.to_csv("Test.csv")

In [ ]:
data = ('a,b,c,d\n'
       '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11')

In [ ]:
print(data)

In [ ]:
df = pd.read_csv(StringIO(data),dtype = object)       ##### here object means all values in data will become string and if it was int than all values in data will become integer

In [ ]:
df

In [ ]:
df['a']

In [ ]:
data = ('a,b,c,d\n'
       '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11,12')

In [ ]:
df = pd.read_csv(StringIO(data),dtype = int)       ##### here object means all values in data will become string and if it was int than all values in data will become integer

In [ ]:
df['a']

In [ ]:
df = pd.read_csv(StringIO(data),dtype = float)       ##### here object means all values in data will become string and if it was int than all values in data will become integer

In [ ]:
df

In [ ]:
df["a"]

In [ ]:
df = pd.read_csv(StringIO(data),dtype = {'b':int,'c':float,'a':'Int64'})       ##### here object means all values in data will become string and if it was int than all values in data will become integer

In [ ]:
df

In [ ]:
df['a'][1]

In [ ]:
type(df['a'][1])

In [ ]:
#### check the datatypes

In [ ]:
df.dtypes

In [ ]:
data = ('index,a,b,c\n'
         '4,apple,bat,5.7\n'
          '8,orange,cow,10')

In [ ]:
pd.read_csv(StringIO(data))

In [ ]:
pd.read_csv(StringIO(data),index_col = 0)      ###index_col will use the specified col as index like here 0 is specified  so 0th column will become index

In [ ]:
data = ('a,b,c\n'
       '4,apple,bat,\n'
        '8,orange,cow,' )

In [ ]:
pd.read_csv(StringIO(data))

In [ ]:
pd.read_csv(StringIO(data),index_col = False)

In [ ]:
pd.read_csv(StringIO(data),usecols = ['b','c'],index_col = False)

In [ ]:
data  = 'a,b\n"hello, \\"Bob\\",nice to see you",5'

In [ ]:
pd.read_csv(StringIO(data),escapechar = '\\')

In [ ]:
df = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                sep = '\t')

In [ ]:
df.head()

## Read Json to CSV

In [ ]:
Data  ='{"employee_name":"James","email":"james@gmail.com","job_profile":[{"title1":"Team Lead","title2":"Sr. Developer"}]}'
df1 = pd.read_json(Data)

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header = None)

In [ ]:
df.head()

In [ ]:
##  convert json and csv
df.to_csv("wine.csv")

In [ ]:
### convert json to different json formats

df1.to_json()

In [ ]:
df1

In [ ]:
df1.to_json(orient = 'records')

In [ ]:
df.to_json(orient = 'records')

## Reading HTML Content

In [ ]:
##### when saying html content then we are basically saying that we are reading HTML table from HTML content

In [ ]:
import requests 

url= 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

c_url = requests.get(url)



dfs = pd.read_html(url)              ##### this funtion will grab how much table are present in that particular html page

In [ ]:
dfs

In [ ]:
type(dfs)

In [ ]:
dfs[0]

In [ ]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'
dfs = pd.read_html(url_mcc,match  = "Country",header = 0)

In [ ]:
dfs[0]

## Reading Excel Files

In [ ]:
df_excel = pd.read_excel("Coca Cola Co.xlsx")

In [ ]:
df_excel

In [ ]:
df_excel.head()

## Pickling

In [ ]:
df_excel.to_pickle('df_excel')
df=pd.read_pickle('df_excel')

In [ ]:
df.head()

In [ ]:
import pandas as pd

In [ ]:
pd = pd.read_csv("titanic_train.csv")

In [ ]:
pd

In [ ]:
pd.head()

In [ ]:
pd.head(2)

In [ ]:
pd.head(20)

In [ ]:
pd.tail()

In [ ]:
type(pd)

In [ ]:
pd.to_csv("test11.csv")

In [ ]:
pd.head()

In [ ]:
pd.tail()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("titanic_train.csv",header=None)

In [ ]:
df

In [ ]:
df = pd.read_csv("titanic_train.csv",header=None,names =['a','b','c','d','e','f','g','h'],skiprows = [0,3,4,5])

In [ ]:
df

In [ ]:
df = pd.read_csv("titanic_train.csv",header=None,names =['a','b','c','d','e','f','g','h'])

In [ ]:
df = pd.read_csv('titanic_train.csv',na_values = [1])

In [ ]:
df

In [ ]:
df = pd.read_csv('titanic_train.csv',na_values = ['male'])

In [ ]:
df

In [ ]:
df = pd.read_csv('titanic_train.csv',na_values = ['male','B42'])

In [ ]:
df

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df

In [ ]:
pd

In [ ]:
df = pd

In [ ]:
df.to_csv("abcd.xlsx")

In [ ]:
df = pd.read_csv('abcd.csv',sep = '#')

In [ ]:
df

In [ ]:
df.to_csv('abcd.csv',index = False)

In [ ]:
df.to_csv('abcd1.csv',index = False,header = False)

In [ ]:
df.to_csv('abcd1.csv',index = False,header = False,sep = '#')

In [ ]:
df.to_csv('abcd1.csv',index = False,columns = ['PassengerId','Survived'],sep = '#')

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
df['Survived']

In [ ]:
type(df['Survived'])

In [ ]:
type(df[['Survived']])

In [ ]:
df[['Survived','PassengerId']]

In [ ]:
pd.read_excel("F:\data science\ML\LUSID Excel - Maintain a product in multiple currencies and share classes.xlsx")

In [ ]:
df2 =pd.read_excel("F:\data science\ML\LUSID Excel - Maintain a product in multiple currencies and share classes.xlsx",sheet_name='Add FX quotes')

In [ ]:
df3 = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01/gamelog/2021")

In [ ]:
df3

In [ ]:
type(df3)

In [ ]:
len(df3)

In [ ]:
df3[0]

In [ ]:
df3[7].to_csv("To_players.csv")

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
s = """
{
"name" : "raj",
"phone_no" : 68121287219,
"comp" : ["facebook","micro","softbank","ola"]
}
"""

In [ ]:
s1 = json.loads(s)

In [ ]:
s1

In [ ]:
pd.DataFrame(s1)

In [ ]:
pd.DataFrame(s1,columns = ['comp'])

In [ ]:
import requests

In [ ]:
res= requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [ ]:
res

In [ ]:
r1 = res.json()

In [ ]:
r1[4]

In [ ]:
pd.DataFrame(r1)

In [ ]:
r1[2]

In [ ]:
for i in range(len(r1)):
    print(r1[i]['title'])

In [ ]:
for i in range(len(r1)):
    print(r1[i]['url'])

In [ ]:
pd.DataFrame(r1,columns = ['url','title'])

In [ ]:
pd.DataFrame(r1).head()

In [ ]:
a= r1[0]['user']

In [ ]:
a

In [ ]:
pd.DataFrame([r1[i]['user'] for i in range(len(r1))])

In [ ]:
a

In [ ]:
len(r1)

In [ ]:
import pandas as pd

In [ ]:
l=[]
for i in range(len(r1)):
    l.append(r1[i]['user'])

In [ ]:
pd.DataFrame(l)

In [ ]:
from_file= pd.read_csv("titanic_train.csv")

In [ ]:
from_file.to_pickle("my_pick")

In [ ]:
pwd

In [ ]:
from_file

In [ ]:
h5_data=pd.HDFStore('test.h5')

In [ ]:
h5_data['obj1'] =from_file

In [ ]:
h5_data['obj1']

In [ ]:
h5_data.put('obj2',from_file,format='table')

In [ ]:
h5_data.select('obj2',where=['index>=10 and index<=15'])

In [ ]:
df = pd.read_csv('titanic_train.csv')

In [ ]:
df.tail()

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.dtypes[df.dtypes=='object'].index

In [ ]:
df.dtypes[df.dtypes == 'object']

# df.dtypes == 'object'

In [ ]:
df[df.dtypes[df.dtypes == 'object'].index]

In [ ]:
df1 = df[df.dtypes[df.dtypes == 'object'].index]

In [ ]:
df1.describe()

In [ ]:
df.dtypes

In [ ]:
df[df.dtypes[df.dtypes=='float64'].index]

In [ ]:
l=[4,5,6,78,8,9,923]

In [ ]:
df.dtypes[df.dtypes=='float64'].index

In [ ]:
df[['Name']]

In [ ]:
df['Name'][4:100:2]

In [ ]:
df['Ticket'][5:16]

In [ ]:
df[['Ticket']][5:16]

In [ ]:
sorted(df['Ticket'])

In [ ]:
df.columns

In [ ]:
for i in df.columns:
    print(i)

In [ ]:
for i in df.columns:
    print(df[[i]])

In [ ]:
df['raj']='pandey'

In [ ]:
df

In [ ]:
df['raj1']=df['PassengerId']

In [ ]:
df

In [ ]:
df['Cabin']

In [ ]:
pd.Categorical(df['Cabin'])

In [ ]:
pd.Categorical(df['Pclass'])

In [ ]:
df['Pclass'].unique()

In [ ]:
df['Pclass'].isnull()

In [ ]:
df['Cabin'].isnull()

In [ ]:
[df['Cabin'].isnull()==True]

In [ ]:
df['Cabin'][df['Cabin'].isnull()==True]

In [ ]:
df['Cabin'][df['Cabin'].isnull()==False]

In [ ]:
[df['Cabin'].isnull()==False]

In [ ]:
ser = df['Cabin'][df['Cabin'].isnull()==False]

In [ ]:
ser.index

#### to extract row wise

In [ ]:
df.iloc[ser.index]

In [ ]:
df.iloc[[1,3,5,6]]

In [ ]:
ser = df['Cabin'][df['Cabin'].isnull()==True]

In [ ]:
df.iloc[ser.index]

In [ ]:
df

In [ ]:
a =max(df['Fare'])

In [ ]:
a==df['Fare']

In [ ]:
x=df[a==df["Fare"]]

In [ ]:
x[['Name']]

#####  steps to find out the required data
1....    Reach out           
2......   Filter     
3.....    extract

In [ ]:
df['new-col']=df['PassengerId']+df['Age']

In [ ]:
df

In [ ]:
###    https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

In [ ]:
df5 = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

In [ ]:
df5

In [ ]:
df5.dtypes

In [ ]:
###  https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv

In [ ]:
###  https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt

## Data manipulation Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('titanic_train.csv')

In [ ]:
df

In [ ]:
df.tail(10)

In [ ]:
df.dtypes

In [ ]:
df.dtypes == 'object'

In [ ]:
df.dtypes == 'object'
a = df.dtypes[df.dtypes=='object'].index
a
df[a].describe()

In [ ]:
df.describe()   #######    it will not include object type of columns

In [ ]:
list(df.index)

In [ ]:
df.dtypes[list(df.dtypes=='object')]

In [ ]:
df.dtypes[list(df.dtypes=='object')].values

In [ ]:
df.columns

In [ ]:
df[['PassengerId','Survived']]

In [ ]:
sorted(df['Name'])[5:10:2]

In [ ]:
sorted(df['Name'])[:56]

In [ ]:
df['Ticket'][:18]

In [ ]:
df.describe(include='all')

In [ ]:
df['Ticket'].describe()
df.columns

In [ ]:
df['raj']='asncja'
df.head()

In [ ]:
N_p=pd.Categorical(df['Pclass'])
N_p

In [ ]:
type(N_p)

In [ ]:
df['Pclass'].unique()

In [ ]:
df['Ne_p']=N_p

In [ ]:
df.dtypes

In [ ]:
pd.Categorical(['one','two','three','one','two','three'],categories=['one','two','three'],ordered = True)

In [ ]:
df.Pclass.value_counts()

In [ ]:
df['Cabin'].astype(str)

In [ ]:
char_cabin = df['Cabin'].astype(str)
                                    
new_cabin = [cabin[0] for cabin in char_cabin]

new_cabin=pd.Categorical(new_cabin)

new_cabin

In [ ]:
char_cabin = df['Cabin'].astype(str)
                                    
new_cabin = [cabin[0:2] for cabin in char_cabin]

new_cabin=pd.Categorical(new_cabin)

new_cabin

In [ ]:
df["Cabin"]=new_cabin
df.head()

In [ ]:
df.head()

In [ ]:
df.notnull()

In [ ]:
df[df.notnull()]

In [ ]:
df.isnull().sum()

In [ ]:
df.notnull().sum()

In [ ]:
df.drop([0])

In [ ]:
df.drop([1,2,3])

####   to remove column

In [ ]:
df.drop(['PassengerId'],axis = 1)

In [ ]:
###   for permanent removal from original dataframe
##
###  df.drop(["PassengerId"],axis =1,inplace=True)

In [ ]:
df.Age

In [ ]:
df.Age.isnull()

In [ ]:
df['Age'][df.Age.isnull()]

In [ ]:
x = df['Age'][df.Age.isnull()].index

In [ ]:
df.iloc[x,:]

In [ ]:
df.iloc[x,:2]

In [ ]:
df.iloc[x,:1]

In [ ]:
df['Fare']

In [ ]:
import numpy as np

In [ ]:
mis = np.where(df['Age'].isnull() == True)
mis

In [ ]:
df

In [ ]:
max(df.Fare)

In [ ]:
i = np.where(df['Fare']==max(df.Fare))

In [ ]:
df.iloc[i]

In [ ]:
df['Family']  = df['SibSp']+df['Parch']
df['Family']
most_fam = np.where(df['Family'] == max(df['Family']))
most_fam

In [ ]:
df[['Age']].fillna(5)

In [ ]:
import pandas as pd

In [ ]:
df[['Age']].fillna(min(df['Age']))

In [ ]:
df['Age'] =df[['Age']].fillna(min(df['Age']))

In [ ]:
df

In [ ]:
df.loc[[0,1,2]]

In [ ]:
"swetanshu".find('t')

In [ ]:
df.Name.apply(lambda x:x[0:x.find(',')])

In [ ]:
df.Name.apply(lambda x:x[:x.find(',')]).values

In [ ]:
a = lambda x:x**2

In [ ]:
a(4)

In [ ]:
mul = lambda x,y:x*y

In [ ]:
mul(4,5)